language: python

python:
  - "3.6"

install:
  - pip install -r requirements.txt
  - pip install codecov pytest pytest-cov

script:
  - pytest --cov=./ -v
  - pylint --rcfile=.pylintrc encryption host kademlia libp2p network peer stream_muxer transport tests

after_success:
  - codecov

notifications:
    slack: py-libp2p:RK0WVoQZhQXLgIKfHNPL1TR2
