language: python

matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true

install:
  - pip install --upgrade pip
  - pip install -r requirements_dev.txt
  - python setup.py develop

script:
  - pytest --cov=./libp2p tests/
  - black --check examples libp2p tests setup.py
  - flake8 libp2p/ tests/

after_success:
  - codecov

notifications:
    slack: py-libp2p:RK0WVoQZhQXLgIKfHNPL1TR2

